:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --overpass-font: "Overpass", sans-serif;
}

body {
  align-items: center;
  background: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  font-family: var(--overpass-font);
  margin: 0;
}

.container {
  background: var(--dark-blue);
  border-radius: 30px;
  margin-top: 300px;
  max-width: 350px;
  padding: 30px;
}

.star-icon-wrapper {
  align-items: center;
  background: var(--very-dark-blue);
  border: none;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

h1,
h2 {
  color: var(--white);
}
p {
  color: var(--light-gray);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.75;
}
.rating-container {
  display: flex;
  justify-content: space-evenly;
}

.rating-btn {
  border: none;
  border-radius: 50%;
  font-family: var(--overpass-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  padding: 13px 18px;
}

.non-active-rating {
  background: var(--very-dark-blue);
  color: var(--light-gray);
}
.non-active-rating:hover {
  background: var(--medium-gray);
  color: var(--white);
}

.active-rating {
  background: var(--orange);
  color: var(--white);
}

.rating-btn:hover,
#submitBtn:hover {
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.submit-container {
  display: flex;
  justify-content: center;
}

#submitBtn {
  background: var(--orange);
  border: none;
  border-radius: 70px;
  color: var(--white);
  font-family: var(--overpass-font);
  font-size: 15px;
  line-height: 1;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 15px 120px;
  text-transform: uppercase;
}

#submit-btn:hover {
  background: var(--white);
  color: var(--orange);
}

footer {
  color: var(--white);
  margin-top: 30px;
}

footer a {
  color: var(--orange);
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

footer a:hover {
  text-decoration: underline;
}

#thankYou {
  text-align: center;
}

#thankYou img {
  margin-top: 15px;
}
#thankYou h4 {
  background: var(--very-dark-blue);
  border-radius: 40px;
  color: var(--orange);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin: 35px 80px;
  padding: 10px 0;
}

#thankYou p {
  font-size: 16px;
}

@media (max-width: 400px) {
  .container {
    margin-top: 100px;
    max-width: 300px;
  }

  #thankYou h4 {
    font-size: 15px;
    margin: 20px 50px;
  }
  #thankYou p {
    font-size: 15px;
  }
}
